.tooltip {
	position: absolute;
	width: 170px;
	height: 80px;

	/*padding-left: 15px;*/

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 10;
	visibility: hidden;
	background-color: black;
	/*color: #2AB858;*/
	color: white;

	border: 1px solid white;
	white-space: pre-line;
}